.adv{
    margin: 0 auto;
    z-index: 100;
    border: 0px solid white;
    border-radius: 10px;
    color: wheat;
    background-color: #212529;
    max-width: 80%;
    transition:  .5s;
    position: fixed;
    width: 70%;
    left: 15%;
    min-height: 6rem;
    top: 30vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 500;
}
.notView{
    opacity: 0;
    top: -5vh;
    transition: .8s;
}

.wrapPrimary >*{
    text-align: right;
    font-size: 1rem;
}
.wrapPrimary div:first-child{
    font-size: 1.6rem;
    font-weight: bold;
}
.wrapPrimary div:last-child:hover{
    cursor: pointer;
    color: black;
}

.close{
 font-size: 1rem;
 color: hsl(210, 10%, 23%);
 cursor: pointer;
 width: 1.5rem;
 border: solid 0px black;
 border-radius: 5px;
 padding: 0;
}
