h2{
    margin-bottom: 0px;
}
.boxContainer{
    display: flex;
    flex-direction: column;
     margin: 0 auto;
     padding: 15px;
    }
.boxToSelect{
    margin: 10px;
    border-radius: 10px;
    /* flex: 85%; */
    min-height: 40vh;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    transition: .5s;
    box-shadow: 0px 0px 10px 1px rgba(125,125,125,0.94);
}
.boxToSelect:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px 1px rgba(125,125,125,0.94);
}
.bottomTitle{
    background: hsl(210, 10%, 23%);
    border-top-left-radius: 10px;
    padding: 5px;
    width: 100%;
}

.link{
    text-decoration: none;
    list-style: none;
    color: #ced4da;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    }
.link:hover{
      color: #f8f9fa;
}

.imgOne{
    background-image: url("https://images.pexels.com/photos/2165933/pexels-photo-2165933.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}
.imgTwo{
    background-image: url("https://images.pexels.com/photos/3874513/pexels-photo-3874513.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

    
@media screen and (min-width: 768px) {
      .boxContainer{
        flex-direction:row;
        justify-content:center;
        padding: 10px;
        }
        .boxToSelect{
            box-shadow: 0px 0px 0px 0px rgba(125,125,125,0.94);
            width: 35%;
            min-height: 50vh;
           
        }
    }