*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
form{
  border: solid 1px black;
  margin-top: 20px;
  padding: 10px;
  margin: 0 auto;
  width: 80%;
  min-height: 40vh;
  background-color: wheat;
}
form input{
  display: block;
  margin-bottom: 5px;
}


#alertMsg{
 background-color: rgb(251, 243, 119);
  z-index: 100;
  position: absolute;
  text-align: center;
  border-radius: 1rem;
  top: 5;
  width: 40%;
  overflow: hidden;
}
#alertMsg p{
  font-size: 1.5rem;
}
